<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="RtrsMapService_User.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
    </startup>
    <userSettings>
        <RtrsMapService_User.Properties.Settings>
            <setting name="Zoom" serializeAs="String">
                <value>9</value>
            </setting>
            <setting name="zone_move" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="img_move" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="sq_active" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="sq_ind_color" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="sqr_cut_fl" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SLon" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SLat" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="NLat" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="NLon" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="size_w" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="size_h" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="path_img" serializeAs="String">
                <value />
            </setting>
            <setting name="img_work_chk" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ic_ind_color" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ic_active" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="imgform_start_pos" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="mapform_start_pos" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="mapform_size" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="current_id" serializeAs="String">
                <value />
            </setting>
        </RtrsMapService_User.Properties.Settings>
    </userSettings>
</configuration>
